{# templates/test/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page de Test{% endblock %}


{% block body %}
    <h1 class="text-3xl font-bold underline">
    Hello world!
    </h1>
    <p>Voici du contenu de test pour vérifier le fonctionnement du header.</p>
{% endblock %}